<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="refresh" content="">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed&family=Russo+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lexend+Mega&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/public/stylesheets/style-layout.css">
    <title>Ignacio Pesquero Bordon Portfolio</title>
</head>
<body>
    <header>
        <span class="cabezal">
            <h1 class="nombre">Ignacio Pesquero Bordón</h1>
            <ul class="atajos">
                <li class="home"><a href="/">home</a></li>
                <li class="contacto"><a href="/acercaDe">contacto</a></li>
                <li class="acerca-de"><a href="/acercaDe">acerca de</a></li>
            </ul>
        </span>
    </header>
    <%- body %> 
</body>
</html>